.sankey {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.sankey-controls {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.disable-pointer-events {
    pointer-events: none;
}